@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Platypi", sans-serif;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#square {
    scrollbar-width: thin;
    scrollbar-color: gray white;
}

#square-children:last-child {
  padding-bottom: 2rem;
}

#square-mutation {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: gray white;
}

#square-mutation-children {

  position: relative;
  margin-top: 1rem;
}

#square-mutation-children:last-child {
  padding-bottom: 1rem;
}
